<!Doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>My Awesome Webpage</title>
  <meta name="description" content="the text here describes what the webpage is about.It's what will show up in search
  results for search engines like google under the title of the webpage. It's important that this is relevant to your page and well written!">
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename = 'css/my_style_sheet.css')}}">
 </head>
 <body>
  <div id = "container">
   <div id = "leftblock" class="pic">

    <div id = "innerblock">
     <h1>Welcome to AmatyaStore</h1>
    </div>
   </div>
   <div id = "rightblock">
    <div id= "topsection">
     <h1>Sign Up</h1>
     <h3>please fill in this form to create an account.</h3>
    </div>
    <div id= "middlesection">
    {% with messages = get_flashed_messages() %}
     {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
     {% endif %}
    {% endwith %}

    <div id= "formsection">
    <form action='/process' method='POST'>
     <div class="attribute" align="justify" ><p><b>Email</b></p><input type= "text" name="email" color="black"   placeholder = "Enter Email"></div>
     <div class="attribute" align="justify"><p><b>Password</b></p><input type= "password" name="password" placeholder = "Enter Password"></div>
     <div class="attribute"><p><b>Confirm Password</b></p><input type= "password" name="confirmpw" placeholder ="Confirm Password"></div>
     <div class="clickbutton"><input type = "submit" value="Sign Up">
     <a href="/signinpage">I am already a member</a>
     </div>
    </form>
   </div>
   </div>

 </div>
 </body>
</html>
